aiofiles
aiosqlite
bs4
discord-py-interactions>=4.3.4
interactions-files
interactions-lavalink
interactions-persistence
interactions-tasks
interactions-wait-for
loguru
motor[srv]
pet-pet-gif
python-decouple
pytz
qrcode[pil]
tweepy[async]
